@use '../abstracts/' as *;
@use 'sass:math';

button {
  background: unset;
  border: none;
}

.btn {
  border: $default-border-width solid $secondary;
  border-radius: $default-border-radius;
  cursor: pointer;
  letter-spacing: $default-letter-spacing;
  padding: math.div($default-padding, 4) math.div($default-padding, 2);
  text-transform: capitalize;
  @include transition-ease;
  &:hover {
    border: $default-border-width solid $accent;
    opacity: 0.9;
  }
}