@use '../abstracts/' as *;
@use 'sass:math';

footer {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row: 3 / -1;
  .container {
    border: 1px solid red;
    padding: math.div($default-padding, 2);
  }
}