@use '../abstracts/' as *;
@use '../breakpoints'as *;
@use 'sass:math';

header {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: auto 1fr auto;
  grid-row: 1 / 1;
  #title {
    cursor: pointer;
    grid-column: 1 / 1;
  }
  #user {
    grid-column: 3 / -1;
  }
}