@use './abstracts/' as *;
@use 'sass:math';

.layout {
  background: linear-gradient(100deg,
    rgba(#000, 1.0),
    rgba(#000, 1.0),
    rgba(#000, 1.0),
    rgba($primary, 1.0),
    rgba($primary, 1.0),
    rgba($primary, 1.0),
    rgba($primary, 1.0),
    rgba($primary, 1.0),
    rgba($primary, 1.0),
    rgba(#000, 1.0),
    rgba(#000, 1.0),
  );
  color: $secondary;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  overflow-x: hidden;
  padding: math.div($default-padding, 2);
  .container {
    padding: math.div($default-padding, 2);
    @include flexbox-column-center;
  }
}