@use '../abstracts/' as *;
@use '../breakpoints' as *;

#homepage {
  grid-column: 1 / -1;
  padding: $default-padding;
  @include flexbox-column-center;
  h2 {
    text-transform: capitalize;
    @include md {
      font-size: 4rem;
    }
    @include lg {
      font-size: 8rem;
    }
    &:last-child {
      color: $accent;
    }
  }
  p {
    font-size: 1.2rem;
    padding: $default-padding * 2;
    &::first-letter {
      text-transform: capitalize;
    }
  }
}